body{
    font-family: 'Abel', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
#header_section{
    height: 80vh; 
    background-image:url(images/donation13.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    overflow: hidden;
}
#header_section h1{
    font-size: 50px;
    margin-top: 100px;
   
}
#header_section p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}
#header_section a{
     color: white;
     text-decoration:none;
     background-color: orangered;
     padding: 10px 15px;
     border-radius: 10px;
}